.titulos {
    text-align: center;
    color: blue;
}

.parrafo {
    text-align: center;
}

.foto {
    width: 200px;
    height: 200px;
    border: 5px dashed;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}