img {
    border: 5px solid #555;
}

p {
    display: block;
    margin-left: 0;
    margin-right: 120px;
}

hr.hr-mod {
    border-top: 1px dashed;
}

img.img-mod {
    width: 400px;
    height: 400px;
}

img.img-link {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}